.DS_Store
.idea
*.log
tmp/
extras/mingw64/
custom.el
extras/personal/personal.org
extras/languagetool/
personal.el
extras/personal/personal_dict.txt
extras/Emacs-ZMQ/
extras/ditaa/
extras/eg-dir-local/
extras/fd/
extras/graphviz/
extras/plantuml/
extras/ripgrep/
extras/personal/passwords.org
